body{
    margin: 0px;
    padding: 0px;
}


/*---------------------MAIN NAV BAR DESIGN CODE CSS--------------*/
nav{
    background: linear-gradient(90deg, #3A6839, #064E3B);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #FFFFCC;
}

nav a:hover {
    color: #FFCC00;
}

nav li{
display: inline-block;
margin: 0px,8px;
margin-left: 20px;
padding: 5px;
}

.zck-logo{
    color: #FFCC00;
    font-size: 20px;
    cursor: pointer;
}

.zck-logo:hover{
    color: goldenrod;
 
}
/*---------------------HUMBURGERMENU DESIGN CODE CSS--------------*/

.menu-line{
    height:3px;
    width: 20px;
    background-color: white;
    margin-bottom: 3px;
}

.hummenu{
    display: none;
    cursor: pointer;
}

/*---------------------DEVICE 900PX DESIGN CODE CSS--------------*/
@media (max-width:900px){

    nav{
        flex-direction: column;
    }

    nav li{
        display: block;
        padding: 10px;
        
    }

    ul{
        text-align: center;
        padding: 0px;
        display: none;
    }
    .zck-logo{
        font-size: large;
        text-align: center;
        align-self: flex-start;
        margin-left: 15px;
        font-size: medium;
       
    }

    .hummenu{
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;

    }

    .showmenu{
        display: block;
    }

}
/*---------------------DEVICE 375 DESIGN CODE CSS--------------*/
@media(max-width:375px){
   .zck-logo{
        text-align: left;
   }

   .hummenu{
    margin-bottom: 30px;

}
}